/* write your override styles here */
#wall .tag-1 {
    display: none;
}
html {
    max-width: 120ch;
    padding: 1em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.2em;
}
body {
    font-family: "Fira Sans", sans-serif;
    line-height: 1.0;
    color: #222;
    max-width: 50rem;
    padding: 2rem;
    margin: auto;
    background: #fafafa;
}